
      .cat1 {
        width:200px;
        border-radius: 20px;
      }
      .cat2 {
        width: 200px;
        object-position: center;
        object-fit: cover;
      }
      .cat3 {
        width: 200px;
        border-radius: 100px;
      }
      .search {
        border-radius: 5px;
        border-width: 1px;
      }
      .google-search {
        border: none;
        border-radius: 30px;
        box-shadow: 2px 2px 5px rgb(79, 79, 79);
        width: 300px;
      }
      .email {
        font-size: 15px;
      }
      .email-enter {
        border-radius: 2px;
        width: 200px;
      }
      .join {
        background-color: blue;
        color: white;
        border-radius: 20px;
        padding: 10px 10px;
        padding-right: 90px;
        padding-left: 90px;

        margin-left: 230px;

      }
      .agree {
        text-align: center;
        font-size: 15px;
      }
      .pfp {
        width: 50px;
        border-radius: 25px;
        vertical-align: middle;
      }
      .tweet {
        color:white;
        background-color: rgb(0, 110, 255);
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-weight: bold;
      }
      .text {
        border:none;
        width: 100px;
      }