.flexbox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.item1 {
  background-color: lightpink;
}
.item2 {
  background-color: lightpink;
}
.item3 {
  background-color: lightpink;
}
.item4 {
  background-color: lightpink;
}