.square {
  width: 100px;
  height: 100px;
  background-color: red;
  display:inline-block;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 100px;
  display:inline-block;
}
.service {
  width:200px;
  height:100px;
  border: 1px solid black;
}
.yt {
  width: 450px;
  height:150px;
  background-color: rgb(32, 32, 32);
  color: white;
}
.install {
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  padding: 10px 10px;
  margin-bottom: 0;
}
.add {
  font-family: Arial;
  font-size: 15px;
  padding: 10px 10px;
  color: gray;
}
.pfp {
  width: 50px;
  border-radius: 25px;
  vertical-align: middle;
}
.tweet {
  color:white;
  background-color: rgb(0, 110, 255);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
}
.text {
  border:none;
  width: 200px;
}
.twitter {
  height: 60px;
  width: 350px;
  box-shadow: 1px 1px 3px gray;
}
.pfp2 {
  width: 200px;
}
.profile {
  height: 310px;
  width: 200px;
  box-shadow: 2px 2px 5px rgb(72, 72, 72);
  display: inline-block;
}
.name {
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding-left:10px;
  margin-bottom:0;
}
.mutual {
  font-family: Arial;
  color: gray;
  font-size: 15px;
  padding-left:10px;
  margin-bottom: 0;
}
.friend {
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
  background-color: blue;
  color: white;
  margin-left: 15px;
  margin-bottom: 10px;
}
.profile2 {
  height: 310px;
  width: 200px;
  box-shadow: 2px 2px 5px rgb(72, 72, 72);
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}
.profile3 {
  height: 310px;
  width: 200px;
  box-shadow: 2px 2px 5px rgb(72, 72, 72);
  display: inline-block;
}